:root{
    --text-color:rgb(255,255,255);
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
ul{
    list-style-type: none;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: none;
    overflow: hidden;
}
.container ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.slider{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.item{
    width: 100%;
    height: 400px;
    background-color: none;
}
.container ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}
.index_main ul{
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.index_var{
    background-color: rgba(138, 248, 255, 0.2);
    padding-bottom: 30px;
}
.title{
    font-size: 20px ;
    text-align: center;
    padding-top:20px;
}
.var_explain{
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
    padding: 0px;
}
.vars{
    display: inline;
}
.var{
    display: inline-block;
}
.circle1{
    text-align: center;
    margin-left: 0px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(67, 63, 255, 0.79);
    font-size: 15px;
    color:var(--text-color);
    transition: all 0.2s linear;
    cursor: pointer;
}
.circle1:hover{
    transform: scale(1.1);
}
.circle2{
    text-align: center;
    margin-left: 210px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(67, 63, 255, 0.79);
    font-size: 15px;
    color:var(--text-color);
    transition: all 0.2s linear;
    cursor: pointer;
}
.circle2:hover{
    transform: scale(1.1);
}
.circle3{
    text-align: center;
    margin-left: 210px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(67, 63, 255, 0.79);
    font-size: 15px;
    color:var(--text-color);
    cursor: pointer;
    transition: all 0.2s linear;
}
.circle3:hover{
    transform: scale(1.1);
}
#c3, #c1, #c2{
    transform: translateY(111px);
}
.business{
    display: inline;
}
.bus{
    display: inline-block;
}
.square1{
    text-align: center;
    margin-left: 90px;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    background-color: rgba(5, 255, 0, 0.7);
    font-size: 15px;
    color:black;
    transition: all 0.2s linear;
    cursor: pointer;
}
.square1:hover{
    transform: scale(1.1);
}
.square2{
    text-align: center;
    margin-left: 500px;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    background-color: rgba(5, 255, 0, 0.7);
    font-size: 15px;
    color:black;
    transition: all 0.2s linear;
    cursor: pointer;
}
.square2:hover{
    transform: scale(1.1);
}
#s1, #s2{
    transform: translateY(105px);
}
.shortcut{
    display: inline;
}
.shortc{
    margin-top: 50px;
    display: inline-block;
}
.shc2{
    margin-left: 500px;
}
.data_col{
    text-align: center;
    margin-left: 90px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #595959;
    font-size: 15px;
    color:var(--text-color);
    transition: all 0.2s linear;
}
.data_col:hover{
    transform: scale(1.1);
}
.graph_pre{
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #595959;
    font-size: 15px;
    color:var(--text-color);
    transition: all 0.2s linear;
}
.graph_pre:hover{
    transform: scale(1.1);
}
#link1, #link2{
    transform: translateY(15px);
}

/* 팝업창 */

.popmenu_c1{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 200px;
    text-align: center;
    background-color: rgb(142, 214, 255);
    border-radius: 60px;
    line-height: 30px;
}
.exit_c1{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.popmenu_c2{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 210px;
    text-align: center;
    background-color: rgb(142, 214, 255);
    border-radius: 60px;
    line-height: 30px;
}
.exit_c2{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.popmenu_c3{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 690px;
    height: 210px;
    text-align: center;
    background-color: rgb(142, 214, 255);
    border-radius: 60px;
    line-height: 30px;
}
.exit_c3{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.popmenu_s1{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    height: 180px;
    text-align: center;
    background-color: rgb(142, 214, 255);
    border-radius: 60px;
    line-height: 30px;
}
.exit_s1{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.popmenu_s2{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 830px;
    height: 240px;
    text-align: center;
    background-color: rgb(142, 214, 255);
    border-radius: 60px;
    line-height: 30px;
}
.exit_s2{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}